@media (min-width: 1000px){
    .content{
        width: 1000px;
        margin: 0 auto;
        padding: 10px;
        ul{
            list-style: none;
            margin-top: 20px;
            li{
                margin-top: 10px;
                font-size: 1.2rem;
            }
        }
        .pagination{
            display: flex;
            justify-content: center;
            padding: 80px;
            gap: 100px;
            a{
                padding: 10px 20px;
                border: #686865 solid 1px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 1000px){
    .content{
        margin: 10px auto;
        padding: 10px;
        ul{
            list-style: none;
            margin-top: 20px;
            li{
                margin-top: 10px;
                font-size: 1.2rem;
            }
        }
        .pagination{
            display: flex;
            justify-content: center;
            padding: 30px;
            gap: 10px;
            a{
                padding: 10px 20px;
                border: #686865 solid 1px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}