<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(title = ${singlePage.spec.title} + ' - ' + ${site.title}, head = ~{::head},content = ~{::content},footerjs = ~{::footerjs})}"
>

<th:block th:fragment="head">
  <link rel="stylesheet" th:href="@{/assets/css/github-markdown-light.css?v={version}(version=${theme.spec.version})}" />
  <link rel="stylesheet" th:href="@{/assets/css/post.css?v={version}(version=${theme.spec.version})}" />
</th:block>

  <th:block th:fragment="content">
    <div class="post-title" th:text="${singlePage.spec.title}"></div>
    <div class="markdown-body" th:utext="${singlePage.content.content}"></div>

    <div th:if="${haloCommentEnabled}">
      <div class="comment">评论：</div>
      <halo:comment group="content.halo.run" kind="Post" th:attr="name=${post.metadata.name}" />
    </div>
  </th:block>

<th:block th:fragment="footerjs">
  <script
          th:src="@{/assets/highlight/highlight.js?v={version}(version=${theme.spec.version})}"
  ></script>
  <script>hljs.highlightAll();</script>
  </script>
</th:block>
</html>
